.header {
  background-color: var(--dark-blue);
  box-sizing: border-box;
  height: 88px;
  padding: 24px;
  color: var(--white);
  display: flex;
  box-shadow: 0px 4px 8px var(--transparent-black-50);
}

.header-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-right: 65px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  list-style-type: none;
  position: relative;
}

.header-list-item {
  box-shadow: inset 0 -2px 0 0 var(--light-blue);
}

.header-list-item-active {
  box-shadow: inset 0 -2px 0 0 var(--blue);
}

.header-list-item:first-child {
  margin-right: 19px;
}

.header-list-item a {
  font-size: 24px;
  line-height: 2px;
  color: var(--light-blue);
  position: relative;
}

.stick {
  position: absolute;
  box-sizing: border-box;
  width: 0;
  height: 28px;
  border-right: 2px solid var(--light-blue);
  left: 92px;
  top: -4px;
}

.header-list-item-active a {
  color: var(--blue);
}

.header-button {
  cursor: pointer;
  box-sizing: border-box;
  height: 46px;
  border: none;
  color: var(--white);
  font-size: 20px;
  line-height: 46px;
  background-color: transparent;
}
