.modalbtn {
  box-sizing: border-box;
  height: 46px;
  width: 120px;
  font-weight: 400;
  font-size: 20px;
  line-height: 46px;
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.modalbtn:first-child {
  margin-right: 24px;
}

.modalbtn.primary {
  color: var(--white);
  background-color: var(--dark-blue);
}

.modalbtn.primary.large {
  width: 200px;
}
