.list-item {
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  border-bottom: 2px solid var(--dark-blue);
}

.list-item:hover {
  background-color: var(--transparent-blue-20);
}

.list-item-col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-item-col1-row1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.list-item-col1-row1__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  margin-right: 16px;
  margin-bottom: 10px;
}

.list-item-col1-row1__category {
  font-weight: 400;
  font-size: 18px;
  color: var(--dark-blue);
  margin-bottom: 10px;
}

.list-item-col1-row1__category::before {
  content: url("../../icons/folder.svg");
  margin-right: 4px;
  position: relative;
  top: 3px;
}

.list-item-col1-row2 {
  color: var(--gray);
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.list-item-col2 {
  box-sizing: border-box;
  min-width: 65px;
}

.list-item-col2__btn {
  cursor: pointer;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
}

.list-item-col2__btn:first-child {
  margin-right: 15px;
}
