.task, .category {
    box-sizing: border-box;
    width: 1000px;
    min-height: 80px;
    border-bottom: 2px solid rgba(63, 114, 175, 1);
    padding: 6px 20px 10px 16px;
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.task:hover, .category:hover {
    background-color: rgba(37, 127, 234, 0.2);
}

.task-header, .category-header {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.task-header_link {
    margin-left: 44px;
    font-weight: 400;
    text-decoration: none;
    color: #3F72AF;
    position: relative;
}

.task-header_link::before {
    content: url("img/folder.svg");
    position: absolute;
    left: -28px;
}

.description {
    font-size: 18px;
    line-height: 20px;
    color: #808080;
}

.edit {
    background-image: url(img/edit.svg);
    margin-right: 15px;
}

.edit, .delete {
    cursor: pointer;
}


.tools {
    display: flex;
    align-items: flex-end;
}

.tools > img {
    display: flex;
}
